@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>Restablecer confirmación de contraseña.</h1>
</hgroup>
<div>
    <p>
        Su contraseña ha sido restablecida. Por favor @Html.ActionLink("clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
