.index-card {
    width: 18rem;
    background-color: #3DA9FC !important;
    border-radius: 21px !important;
}

html, body {
    max-width: 100%!important;
    overflow-x: hidden!important;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    vertical-align: middle;
}

.my-float {
    margin-top: 16px;
}

.navTextBA{
    font-size: 1.25rem!important;
}

.textColor {
    color: #094067!important;
}

.card-form {
    width: 70% !important;
    background-color: #3DA9FC !important;
}
.col {
    display: flex;
    justify-content: center;
}

.card-products {
    width: 18rem !important;
    background-color: #FFFFFF !important;
    border-radius: 10px !important;
    border: none !important;
}

.pageTitle {
    font-family: 'Open Sans', sans-serif!important;
}

@media (max-width: 470px) {
    .navTextBA {
        font-size: 1rem!important;
    }
    .navbar-toggler {
        font-size: 1rem !important;
    }
}

@media (max-width: 415px) {
    .navTextBA {
        font-size: 0.8rem !important;
    }
    .navbar-toggler {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 360px) {
    .logoBA{
        width: 40px!important;
        height: 31px!important;
    }

    .navbar-toggler {
        font-size: 0.6rem !important;
        padding: 0.2rem 0.2rem!important;
    }
}

@media (max-width: 325px) {
    .logoBA {
        width: 35px !important;
        height: 26px !important;
    }
}

@media (max-width: 300px) {
    .navTextBA {
        font-size: 0.65rem !important;
    }
    .logoBA {
        width: 30px !important;
        height: 20px !important;
    }
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    } 
}


@media (min-width: 34em) {
    .card-columns

{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
